<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Supervisor List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let supervisor of supervisors | async">
            <td>{{supervisor.id}}</td>
            <td>{{supervisor.name}}</td>
            <!-- <td><button (click)="deleteSupervisor(supervisor.id)" class="btn btn-danger">Delete</button> -->
              <td> <button (click)="supervisorDetails(supervisor.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>