<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Parent List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Employee</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parent of parents | async">
            <td>{{parent.firstName}}</td>
            <td>{{parent.lastName}}</td>
            <td>{{parent.employee}}</td>
            <td><button (click)="deleteParent(parent.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateParent(parent.id)" class="btn btn-success">Update</button>
                <button (click)="parentDetails(parent.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>