<h3>Add Supervisor</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name of the Supervisor</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="supervisor.name" name="name">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newsupervisor()">Add</button> -->
</div>