/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


.footer {
    position: fixed;
    bottom: 0;
    width:100%;
    height: 30px;
    background-color: brown;
    text-align: center;
    color: white;
}